aiohttp==3.8.1
aiosignal==1.2.0
asgiref==3.5.0
async-timeout==4.0.2
asyncio==3.4.3
attrs==21.4.0
backports.zoneinfo==0.2.1
beautiful==0.0.2
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.10
coreapi==2.3.3
coreschema==0.0.4
coverage==6.3.2
dj-database-url==0.5.0
Django==3.2.12
django-admin==2.0.1
django-cors-headers==3.11.0
django-excel-base==1.0.4
django-excel-response2==3.0.2
django-rest-framework==0.1.0
django-rest-framework-nested==0.0.1
django-rest-swagger==2.2.0
django-six==1.0.4
djangorestframework==3.13.1
flake8==4.0.1
frozenlist==1.3.0
gunicorn==20.1.0
idna==3.3
itypes==1.2.0
Jinja2==3.0.3
lxml==4.8.0
MarkupSafe==2.0.1
mccabe==0.6.1
multidict==6.0.2
mypy==0.941
mypy-extensions==0.4.3
openapi-codec==1.3.2
psycopg2==2.9.3
pycodestyle==2.8.0
pyflakes==2.4.0
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
PyYAML==6.0
requests==2.27.1
screen==1.0.1
simplejson==3.17.6
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
tomli==2.0.1
typing_extensions==4.1.1
uritemplate==4.1.1
urllib3==1.26.8
whitenoise==5.3.0
xlwt==1.3.0
yarl==1.7.2
